html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  color: black;
  font-family: Andale Mono, monospace;
  font-size: 8px;
  background-color: #76C4F5;
}

.author {
  font-size: 1.2em;
  color: blue;
  text-align: center;
}

h1 {
  text-align: center;
}

ul {
  font-size: 25px;
}

.foto2 {
  display: block;
  margin-left: 32%;
  margin-top: 15%;
}

.foto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

#fi {
  font-size: 1.2em;
  text-align: center;
}